#right-area {
    top: 3111px;
    left: 0px;
    width: auto;
    height: 969px;
    /* UI Properties */
    background: #F4F4F4 0% 0% no-repeat padding-box;
    opacity: 1;
}

#right-area .title {
    padding-top: 90px;
}

#right-area .title span {
    top: 3201px;
    left: 501px;
    width: 146px;
    height: 52px;
    padding-left: 20%;
    text-align: left;
    font-size: 36px;
    font-family: "Source Han Sans TW", sans-serif;
    letter-spacing: 0.72px;
    color: #19A9B1;
    opacity: 1;
}

#right-area .description {
    top: 3299px;
    left: 501px;
    width: 648px;
    height: 40px;
    padding-left: 20%;
    color: var(--unnamed-color-707070);
    text-align: left;
    font: normal normal normal 28px Source Han Sans TW;
    letter-spacing: 0.56px;
    color: #707070;
    opacity: 1;
}

#right-area .text {
    top: 3364px;
    left: 501px;
    width: 936px;
    height: 419px;
    padding-left: 20%;
    color: var(--unnamed-color-707070);
    text-align: left;
    font: normal normal normal 24px Source Han Sans TW;
    letter-spacing: 0.48px;
    color: #707070;
    opacity: 1;
}

.footer-area {
    top: 4080px;
    left: 0px;
    width: auto;
    height: 120px;
    background: #19A9B1 0% 0% no-repeat padding-box;
    opacity: 1;
}

.bottomText {
    margin: auto;
    top: 4105px;
    left: 726px;
    width: 396px;
    height: 43px;
    padding-top: 25.22px;
    color: var(--unnamed-color-ffffff);
    text-align: center;
    font: normal normal normal 24px Source Han Sans TW;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.bottomEmail {
    margin: 0px auto;
    top: 4138px;
    left: 763px;
    width: 396px;
    height: 43px;
    color: var(--unnamed-color-ffffff);
    text-align: center;
    font: normal normal normal 24px Source Han Sans TW;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}