@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);
@import url(bootstrap.min.css);
@import url(classy-nav.css);
html,body {
    width:100%;
    height: auto;
    margin:0;
    padding:0;
    overflow-x: hidden;
}

body{
    font-family: 'Noto Sans TC', sans-serif;
    color:#FFFFFF;
    position: relative;
}
p{
    font-size: 20px;
    line-height: 40px;
}

.header-area {
    position: absolute;
    width: 1920px;
    z-index: 10;
}

.area-title span {
    text-align: left;
    font-size: 30px;
    letter-spacing: 0.72px;
    color: #19A9B1;
    opacity: 1;
}

#mainLogo-area {
    padding: 70px 0;
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 800px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
    text-align: center;
}

#mainLogo-area .container {
    position: absolute;
    top: 0;
    right:0;
    bottom:0;
    left:0;
    margin:auto;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-right: 50px;
    padding-left: 50px;
    text-align: center;
}

#mainLogo-area .Tepa-Logo {
    position: absolute;
    max-height: 100%;  
    max-width: 100%; 
    width: auto;
    height: auto;
    top:150px;
    right:0;
    bottom:0;
    left:0;
    margin:auto;
    opacity: 1;
}


#mainLogo-area .area-title span{
    position: absolute;
    top: 300px;
    right:0;
    bottom:0;
    left:0;
    margin:auto;
    text-align: center;
    padding-top: 50px;
    font-size: 36px;
    letter-spacing: 0.72px;
    color: #19A9B1;
    opacity: 1;
}

#mainLogo-area .area-description .content {
    position: absolute;
    top: 305px;
    right:0;
    bottom:0;
    left:0;
    margin:auto;
    padding-top: 100px;
    text-align: center;
    letter-spacing: 0.56px;
    color: #707070;
    opacity: 1;
}

#mainLogo-area .button {
    position: absolute;
    top: 1000px;
    right:0;
    bottom:0;
    left:0;
    width: 140px;
    height: 54px;
    margin:auto;
    border: 1px solid #19A9B1;
    border-radius: 32px;
    opacity: 1;
}

#mainLogo-area .button a {
    position: absolute;
    top: 12px;
    left: 24px;
    width: 106px;
    height: 26px;
    text-align: left;
    font-size: 22px;
    letter-spacing: 0.52px;
    color: #19A9B1;
    opacity: 1;
}

#origin-area {
    padding: 70px 0;
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 700px;
    background: #F4F4F4 0% 0% no-repeat padding-box;
    opacity: 1;
}

#origin-area .container {
    position: absolute;
    top: 0;
    right:0;
    bottom:0;
    left:0;
    margin:auto;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-right: 50px;
    padding-left: 50px;
    text-align: center;
}

#origin-area .area-title span{
    position: absolute;
    top: 0px;
    right:0;
    bottom:0;
    left:0;
    margin:auto;
    text-align: center;
    font-size: 36px;
    letter-spacing: 0.72px;
    color: #19A9B1;
    opacity: 1;
    
}

#origin-area .area-description {
    position: absolute;
    top: 0;
    right:0;
    bottom:0;
    left:0;
    margin:auto;
    text-align: left;
    padding-top: 200px;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 28px;
    letter-spacing: 0.56px;
    color: #707070;

}

#origin-area .Turing-Logo {
    position: absolute;
    top: 0px;
    right:0;
    bottom:0;
    left:0;
    padding-top: 400px;
    margin:auto;
}

#member-area {
    padding: 70px 0;
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 800px;
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
}

#member-area .container {
    position: absolute;
    top: 0;
    right:0;
    bottom:0;
    left:0;
    margin:auto;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-right: 50px;
    padding-left: 50px;
    text-align: center;
}

#member-area .area-title span{
    position: absolute;
    top: 0;
    right:0;
    bottom:0;
    left:0;
    margin:auto;
    text-align: center;
    letter-spacing: 0.72px;
    color: #19A9B1;
    opacity: 1;
}

#member-area .area-description {
    position: absolute;
    top: 100px;
    right:0;
    bottom:0;
    left:0;
    text-align: center;
    letter-spacing: 0.56px;
    color: #707070;
    opacity: 1;
}

#member-area .school-logo{
    position: absolute;
    height: 700px;
    top: 0;
    right:0;
    bottom:0;
    left:0;
    padding-top: 300px;


}
#member-area .NTHU-Logo {
    height: 100px;
    padding-left: 100px;
    
}

#member-area .NTCU-Logo {
    height: 100px;
    padding-right: 100px;
    
}

#member-area .CHU-Logo {
    height: 100px;
    padding-left: 100px;
}
/*
#member-area .logo {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
}
*/
#right-area {
    padding: 70px 0;
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 900px;
    background: #f4f4f4 0% 0% no-repeat padding-box;
    opacity: 1;
}
#right-area .container {
    position: absolute;
    top: 0;
    right:0;
    bottom:0;
    left:0;
    margin:auto;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-right: 50px;
    padding-left: 50px;
    text-align: center;
}

#right-area .area-title span {
    position: absolute;
    top: 0;
    right:0;
    bottom:0;
    left:0;
    margin:auto;
    text-align: center;
    letter-spacing: 0.72px;
    color: #19A9B1;
    opacity: 1;
}

#right-area .area-description {
    position: absolute;
    top: 0;
    right:0;
    bottom:0;
    left:0;
    padding-top: 100px;
    margin:auto;
    text-align: center;
    font-size: 28px;
    letter-spacing: 0.56px;
    color: #707070;
    opacity: 1;
}

#right-area .text {
    position: absolute;
    top: 0;
    right:0;
    bottom:0;
    left:0;
    text-align: left;
    padding-top: 200px;
    padding-left: 10%;
    padding-right: 10%;
    letter-spacing: 0.48px;
    color: #707070;
    opacity: 1;
}

#apply-area {
    padding: 70px 0;
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 1080px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
}

#apply-area .area-title span{
    position: absolute;
    top: 141px;
    left: 501px;
    width: 183px;
    height: 52px;
    text-align: left;
    letter-spacing: 0.72px;
    color: #19A9B1;
    opacity: 1;
}
#apply-area .apply-google-form {
    position: absolute;
    top: 233px;
    left: 501px;
    width: 957px;
    height: 665px;
    text-align: center;
    background: #F4F4F4 0% 0% no-repeat padding-box;
    border-radius: 43px;
    opacity: 1;
}

.footer-area {
    padding: 50px 0;
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 80px;
    background: #19A9B1 0% 0% no-repeat padding-box;
    opacity: 1;
}

#footer-area .container{
    position: absolute;
    top: 0;
    right:0;
    bottom:0;
    left:0;
    margin:auto;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 50px;
    padding-left: 50px;
    text-align: center;
}

.bottomText {
    position: absolute;
    top: -30px;
    right:0;
    bottom:0;
    left:0;
    text-align: center;
    font-size: 18px;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.bottomEmail {
    position: absolute;
    top: 0;
    right:0;
    bottom:0;
    left:0;
    text-align: center;
    font-size: 18px;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

@media (max-width: 992px) {
    p {
        font-size: 18px;
        line-height: 30px;
    }
    #member-area .NTHU-Logo {
        padding-left: 0px;
        
    }
    
    #member-area .NTCU-Logo {
        padding-right: 0px;
        
    }
    
    #member-area .CHU-Logo {
        padding-left: 0px;
    }
    #mainLogo-area .Tepa-Logo {
        position: absolute;
        max-height: 90%;  
        max-width: 90%; 
        width: auto;
        height: auto;
        top:150px;
        right:0;
        bottom:0;
        left:0;
        margin:auto;
        opacity: 1;
    }
}