@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);
@import url(bootstrap.min.css);
@import url(classy-nav.css);
html,body {
    width:100%;
    height:100%;
    margin:0;
    padding:0;
    overflow-x: auto;
}

body{
    font-family: 'Noto Sans TC', sans-serif;
    color:#FFFFFF;
    position: relative;
}

p{
    font-size: 20px;
    line-height: 40px;
}

.header-area {
    position: fixed;
    width: 100%;
    z-index: 10;
}

.header-area .original-nav-area .classy-nav-container {
    box-shadow: 0px 3px 6px #00000029;
}

.main-block {
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 0px;
    padding-bottom: 0px;
    width: 100%;
    min-width: 720px;
    height: 100%;
}

.area-title span {
    text-align: left;
    font-size: 30px;
    letter-spacing: 0.72px;
    color: #19A9B1;
    opacity: 1;
}

#mainLogo-area {
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height:100%;
    min-height: 850px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
    text-align: center;
}

#mainLogo-area .container0 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 0;
    right:0;
    bottom:0;
    left:0;
    width: 540px;
    height: 500px;
    margin:auto;
    text-align: center;
}

#mainLogo-area .Tepa-Logo {
    max-height: 100%;  
    max-width: 100%; 
    width: auto;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    opacity: 1;
}


#mainLogo-area .area-title {
    width: 100%;
    padding-top: 72px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 36px;
    letter-spacing: 0.72px;
    color: #19A9B1;
    opacity: 1;
}

#mainLogo-area .area-description {
    width: 100%;
    padding-top: 7px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    letter-spacing: 0.56px;
    color: #707070;
    opacity: 1;
}

#mainLogo-area .button-box {
    width: 100%;
    padding-top: 98px;
    margin-left: auto;
    margin-right: auto;
}

#mainLogo-area #Apply-button {
    width: 140px;
    height: 54px;
    margin:auto;
    text-align: center;
    color: #19A9B1;
    background-color: #ffffff;
    border: 1px solid #19A9B1;
    font-size: 22px;
    letter-spacing: 0.52px;
    border-radius: 32px;
    opacity: 1;
}

#origin-area {
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    min-width: 720px;
    min-height: 800px;
    background: #F4F4F4 0% 0% no-repeat padding-box;
    opacity: 1;
}

#origin-area .container {
    position: absolute;
    top: 0;
    right:0;
    bottom:0;
    left:0;
    margin:auto;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-right: 50px;
    padding-left: 50px;
    text-align: center;
}

#origin-area .area-title span{
    top: 0px;
    right:0;
    bottom:0;
    left:0;
    margin:auto;
    text-align: center;
    font-size: 36px;
    letter-spacing: 0.72px;
    color: #19A9B1;
    opacity: 1;
}

#origin-area .area-description {
    top: 0;
    right:0;
    bottom:0;
    left:0;
    margin:auto;
    text-align: left;
    padding-top: 50px;
    font-size: 28px;
    letter-spacing: 0.56px;
    color: #707070;
}

#origin-area .Turing-Logo {
    top: 0px;
    right:0;
    bottom:0;
    left:0;
    padding-top: 100px;
    margin:auto;
}

#member-area {
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 80%;
    min-height: 650px;
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
}

#member-area .container {
    position: absolute;
    top: 0;
    right:0;
    bottom:0;
    left:0;
    margin:auto;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-right: 50px;
    padding-left: 50px;
    text-align: center;
}

#member-area .area-title span{
    position: absolute;
    top: 0;
    right:0;
    bottom:0;
    left:0;
    margin:auto;
    text-align: center;
    letter-spacing: 0.72px;
    color: #19A9B1;
    opacity: 1;
}

#member-area .area-description {
    position: absolute;
    top: 100px;
    right:0;
    bottom:0;
    left:0;
    text-align: center;
    letter-spacing: 0.56px;
    color: #707070;
    opacity: 1;
}

#member-area .school-logo{
    position: absolute;
    height: 700px;
    top: 0;
    right:0;
    bottom:0;
    left:0;
    font-size: 30px;
    color: #707070;
    padding-top: 300px;
}

#member-area .NTHU-Logo {
    height: 100px;
}

#member-area .NTCU-Logo {
    height: 100px;
    padding-right: 100px;
}

#member-area .CHU-Logo {
    height: 100px;
    padding-left: 100px;
}

#right-area {
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 92%;
    min-height: 800px;
    background: #f4f4f4 0% 0% no-repeat padding-box;
    opacity: 1;
}

#right-area .container {
    position: absolute;
    top: 0;
    right:0;
    bottom:0;
    left:0;
    margin:auto;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-right: 50px;
    padding-left: 50px;
    text-align: center;
}

#right-area .area-title span {
    margin:auto;
    text-align: center;
    letter-spacing: 0.72px;
    color: #19A9B1;
    opacity: 1;
}

#right-area .area-description {
    padding-top: 46px;
    margin:auto;
    text-align: center;
    font-size: 28px;
    letter-spacing: 0.56px;
    color: #707070;
    opacity: 1;
}

#right-area .text {
    margin: auto;
    text-align: left;
    padding-top: 10px;
    letter-spacing: 0.48px;
    color: #707070;
    opacity: 1;
}

#apply-area {
    padding: 70px 0;
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 980px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
}

#apply-area .container {
    position: absolute;
    top: 0;
    right:0;
    bottom:0;
    left:0;
    margin:auto;
    padding-top: 141px;
    padding-bottom: 100px;
    padding-right: 50px;
    padding-left: 50px;
    text-align: center;
}

#apply-area .area-title span{
    position: absolute;
    top: 0;
    right:0;
    bottom:0;
    left:0;
    text-align: center;
    letter-spacing: 0.72px;
    color: #19A9B1;
    opacity: 1;
}

#apply-area .apply-google-form {
    position: absolute;
    top: 93px;
    right:0;
    left: 0;
    margin: auto;
    width: 957px;
    height: 665px;
    text-align: center;
    background: #F4F4F4 0% 0% no-repeat padding-box;
    border-radius: 43px;
    opacity: 1;
}

#contact-area {
    padding: 70px 0;
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 90%;
    min-height: 800px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
}

#contact-area .container {
    position: absolute;
    top: 0;
    right:0;
    bottom:0;
    left:0;
    margin:auto;
    padding-top: 141px;
    padding-bottom: 100px;
    padding-right: 50px;
    padding-left: 50px;
    text-align: center;
}

#contact-area .area-title span{
    position: absolute;
    top: 0;
    right:0;
    bottom:0;
    left:0;
    text-align: center;
    letter-spacing: 0.72px;
    color: #19A9B1;
    opacity: 1;
}

#contact-area .area-description {
    position: absolute;
    top: 0;
    right:0;
    bottom:0;
    left:0;
    margin:auto;
    text-align: center;
    padding-top: 200px;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 28px;
    letter-spacing: 0.56px;
    color: #707070;
}

.footer-area {
    left: 0px;
    bottom: 0px;
    width: 100%;
    min-width: 720px;
    height: 100px;
    background: #19A9B1 0% 0% no-repeat padding-box;
    opacity: 1;
}

.footer-area .container{
    top: 0;
    right:0;
    bottom:0;
    left:0;
    margin:auto;
    padding-top: 0px;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 0px;
    text-align: center;
}

#right-area .footer-area .container{
    position: absolute;
    top: 0;
    right:0;
    bottom:0;
    left:0;
    margin:auto;
    padding-top: 0px;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 0px;
    text-align: center;
}

.bottomText {
    right:0;
    bottom:0;
    left:0;
    padding-top: 10px;
    margin-bottom: 0px;
    text-align: center;
    font-size: 18px;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.bottomEmail {
    top: 0;
    right:0;
    bottom:0;
    left:0;
    margin-bottom: 0px;
    text-align: center;
    font-size: 18px;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

@media (max-width: 992px) {
    p {
        font-size: 18px;
        line-height: 30px;
    }
    #member-area .NTHU-Logo {
        padding-left: 0px;
        
    }
    
    #member-area .NTCU-Logo {
        padding-right: 0px;
        
    }
    
    #member-area .CHU-Logo {
        padding-left: 0px;
    }
}